<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#f2e824">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SnapNotes - AI-Based Notetaking</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/ms-icon-144x144.png">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='svg/logo.svg') }}" height="40" />
      <span class="logo-text">SnapNotes</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if home %}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
     <li class="nav-item {% if about %}active{% endif %}">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item {% if not home %}active{% endif %}">
        <a class="nav-link" href="/upload">Upload</a>
      </li>
    </ul>
  </div>
</nav>
{% block content %}

{% endblock %}
<section class="footer">
    <div id="footer-content">
        <h5 class="text-light">Made hastily during Cutie Hack 2019</h5>
    </div>
</section>
</body>
</html>