{% extends "partials/base.html" %}
{% block content %}
    <div class="container">
        <h1>About SnapNotes</h1>
        <p>
        SnapNotes is a note-taking app that is useful for students. By utilizing Machine Learning, SnapNotes can parse the notes presented on lecture PowerPoint slides and whiteboards by taking a photo and pulling out the specific kind of information that SnapNotes wants to pull out. The notes captured in the photo is then transferred into the primary database that organizes all of them and allows students to access their notes on our website.
        </p>
    </div>
{% endblock %}